<header class="d-print-none">
  <div class="container text-center text-lg-left">
    <div class="py-3 clearfix">
      <div class="site-nav">
        <nav role="navigation">
          <ul class="nav justify-content-center">
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
<div class="page-content">
  <div class="container">
    <div class="cover shadow-lg bg-white">
      <div class="cover-bg p-3 p-lg-4 text-white">
        <div class="row">
          <div class="col-lg-4 col-md-5">
            <div class="avatar hover-effect bg-white shadow-sm p-1">
              <img src="assets/images/avatar.jpg" width="200" height="200"/>
            </div>
          </div>
          <div class="col-lg-8 col-md-7 text-center text-md-start">
            <h2 class="h1 mt-2">Jiejie (James) Chen</h2>
            <p>Fullstack Web Developer, Senior Software Engineer</p>
            <div class="d-print-none"><button
              class="btn btn-light text-dark shadow-sm mt-1 me-1" (click)="exportAsPDF()">Download
              CV</button></div>
          </div>
        </div>
      </div>
      <div class="about-section pt-4 px-3 px-lg-4 mt-1">
        <div class="row">
          <div class="col">
            <h2 class="h3 mb-3">About Me</h2>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <p>Hello! I'm James Chen. I'm a veteran fullstack Web developer. With multiple years experience in the
              front-end, back-end and cloud, I can offer comprehensive solution design and implementation for your
              Web-based applications utilising the latest microservice arhictecture. </p>
            <p>
              I participated in various projects and made substantial contribution to the product and development
              processes.
            </p>
            <p>
              I'm a best-practice champion and influencer, as well as a life-time learner.
            </p>
          </div>
          <div class="col-md-5 offset-md-1">
            <div class="row">
              <div class="col-sm-4">
                <div class="pb-1">Age</div>
              </div>
              <div class="col-sm-8">
                <div class="pb-1 text-secondary">{{age}}</div>
              </div>
              <div class="col-sm-4">
                <div class="pb-1">Email</div>
              </div>
              <div class="col-sm-8">
                <div class="pb-1 text-secondary">c2j_4u@hotmail.com</div>
              </div>
              <div class="col-sm-4">
                <div class="pb-1">Phone</div>
              </div>
              <div class="col-sm-8">
                <div class="pb-1 text-secondary">+61 430 227 759</div>
              </div>
              <div class="col-sm-4">
                <div class="pb-1">Location</div>
              </div>
              <div class="col-sm-8">
                <div class="pb-1 text-secondary">Sydney, New South Wales, Australia</div>
              </div>
              <div class="col-sm-4">
                <div class="pb-1">Work status</div>
              </div>
              <div class="col-sm-8">
                <div class="pb-1 text-secondary">Australian citizen</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr class="d-print-none"/>
      <div class="page-break"></div>
      <div class="skills-section px-3 px-lg-4">
        <h2 class="h3 mb-3">Professional Skills</h2>
        <div class="row">
          <div class="col-md-12">
            <div class="mb-2"><span>.NET C# (10 years+ experience)</span>
              <div class="progress my-1">
                <div class="progress-bar bg-primary" role="progressbar" style="width: 90%" aria-valuenow="90" aria-valuemin="0"
                     aria-valuemax="100"></div>
              </div>
            </div>
            <div class="mb-2"><span>Angular (6 years+ experience)</span>
              <div class="progress my-1">
                <div class="progress-bar bg-primary" role="progressbar" style="width: 85%" aria-valuenow="80" aria-valuemin="0"
                     aria-valuemax="100"></div>
              </div>
            </div>
            <div class="mb-2"><span>DevOps (AWS) (8 years+ experience)</span>
              <div class="progress my-1">
                <div class="progress-bar bg-primary" role="progressbar" style="width: 75%" aria-valuenow="70" aria-valuemin="0"
                     aria-valuemax="100"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <h4 class="mt-3">Specific Skills</h4>
            <span class="badge rounded-pill bg-secondary">Bootstrap</span>&nbsp;
            <span class="badge rounded-pill bg-secondary">Typescript</span>&nbsp;
            <span class="badge rounded-pill bg-secondary">Javascript</span>&nbsp;
            <span class="badge rounded-pill bg-secondary">OpenIDConnect</span>&nbsp;
            <span class="badge rounded-pill bg-secondary">OpenAPI</span>&nbsp;
            <span class="badge rounded-pill bg-secondary">SignalR</span>&nbsp;
            <span class="badge rounded-pill bg-secondary">GraphQL</span>&nbsp;
            <span class="badge rounded-pill bg-secondary">API Gateway</span>&nbsp;
            <span class="badge rounded-pill bg-secondary">Elasticesarch</span>&nbsp;
            <span class="badge rounded-pill bg-secondary">SQL Server</span>&nbsp;
            <span class="badge rounded-pill bg-secondary">MySQL</span>&nbsp;
            <span class="badge rounded-pill bg-secondary">TDD</span>&nbsp;
            <span class="badge rounded-pill bg-secondary">BDD</span>&nbsp;
            <span class="badge rounded-pill bg-secondary">DDD</span>&nbsp;
            <span class="badge rounded-pill bg-secondary">Serverless</span>&nbsp;
            <span class="badge rounded-pill bg-secondary">CQRS</span>&nbsp;
            <span class="badge rounded-pill bg-secondary">Docker</span>&nbsp;
            <span class="badge rounded-pill bg-secondary">Microservice</span>&nbsp;
            <span class="badge rounded-pill bg-secondary">SOA</span>&nbsp;
            <span class="badge rounded-pill bg-secondary">Code as Infrastructure</span>&nbsp;
            <span class="badge rounded-pill bg-secondary">CI/CD Pipeline</span>&nbsp;
            <span class="badge rounded-pill bg-secondary">Observability</span>&nbsp;
            <span class="badge rounded-pill bg-secondary">SCRUM</span>&nbsp;
            <span class="badge rounded-pill bg-secondary">Gitflow</span>&nbsp;
            <span class="badge rounded-pill bg-secondary">Trunk-based</span>&nbsp;
            <span class="badge rounded-pill bg-secondary">SDLC</span>&nbsp;
          </div>
        </div>
      </div>
      <hr class="d-print-none"/>
      <div class="work-experience-section px-3 px-lg-4">
        <h2 class="h3 mb-2">Experience</h2>
        <div class="timeline">
          <div class="timeline-card timeline-card-primary card shadow-sm">
            <div class="card-body">
              <div class="h5 mb-1">Senior Software Engineer <span class="text-muted h6">at Everlight Radiology</span>
              </div>
              <div class="text-muted text-small mb-2">Mar, 2020 - Present ({{currentEmploymentLength}})</div>
              <div>
                <ul>
                  <li>Delivered 4 major projects into production in 18 months</li>
                  <li>Contributed ~40% of source code</li>
                  <li>Built 2 front-end applications</li>
                  <li>Designed and implemented an event-driven architecture</li>
                  <li>Built 4 micro-service applications and their AWS infrastructure</li>
                  <li>Established now repeating code patterns</li>
                  <li>Built the foundation of unit tests</li>
                  <li>Upgraded CICD pipelines</li>
                  <li>Achieved daily deployments to production</li>
                  <li>Established a new application monitoring workflow</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="timeline-card timeline-card-primary card shadow-sm">
            <div class="card-body">
              <div class="h5 mb-1">Senior Software Engineer <span class="text-muted h6">at PropertyMe Pty Ltd</span>
              </div>
              <div class="text-muted text-small mb-2">Jul, 2019 - Mar, 2020 (8 months)</div>
              <div>In this role, as a member of 4 platform team members, I'm responsible for providing platform
                scalability, reliability, security, and devOps works. The job involves:
                <ul>
                  <li>Identifying system bottleneck and providing solutions</li>
                  <li>Keeping the system technology up-to-date</li>
                  <li>Performing deployments</li>
                  <li>Monitoring system performance and analysing system log</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="timeline-card timeline-card-primary card shadow-sm">
            <div class="card-body">
              <div class="h5 mb-1">Full Stack .Net Developer <span class="text-muted h6">at PropertyMe Pty Ltd</span>
              </div>
              <div class="text-muted text-small mb-2">Aug, 2016 - Jul, 2019 (2 years 11 months)</div>
              <div>
                <ul>
                  <li>Develops new features and maintains the PropertyMe web applications;</li>
                  <li>Utilises AWS features whilst minimising AWS costs;</li>
                  <li>Optimises the PropertyMe application including database operations and back end services for speed, scalability and reliability;</li>
                  <li>Contributes to workshops for design of new features and system architectural changes;</li>
                  <li>Actively participates in Agile Scrum ceremonies and Mentors more junior team members and cross;</li>
                  <li>Contributes to and participates in code reviews;</li>
                  <li>Keeps on top of best security practices and incorporates them into day to day work;</li>
                  <li>Estimate time to complete tasks within a reasonable accuracy;</li>
                  <li>Identifies and remedies any issues with browser compatibility.</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="timeline-card timeline-card-primary card shadow-sm">
            <div class="card-body">
              <div class="h5 mb-1">Developer <span class="text-muted h6">at GiveEasy Pty Ltd</span>
              </div>
              <div class="text-muted text-small mb-2">Apr, 2012 - Jun, 2016 (4 years 2 months)</div>
              <div>
                <ul>
                  <li>Design and build whole infrastructure to cater the growth of the business from start up</li>
                  <li>Implement the core payment system</li>
                  <li>Manage availability and security of the websites and online services</li>
                  <li>Establish agile methodology in the development life cycle.</li>
                  <li>Integrate more than one payment gateways</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="timeline-card timeline-card-primary card shadow-sm">
            <div class="card-body">
              <div class="h5 mb-1">IT Developer <span class="text-muted h6">at DriveMyCar Rentals Pty Ltd</span>
              </div>
              <div class="text-muted text-small mb-2">Jan, 2011 - Mar, 2012 (1 year 2 months)</div>
            </div>
          </div>
          <div class="timeline-card timeline-card-primary card shadow-sm">
            <div class="card-body">
              <div class="h5 mb-1">IT Engineer <span class="text-muted h6">at Shutters R Us Pty Ltd</span>
              </div>
              <div class="text-muted text-small mb-2">Sep, 2010 - Dec, 2010 (3 months)</div>
            </div>
          </div>
          <div class="timeline-card timeline-card-success card shadow-sm">
            <div class="card-body">
              <div class="h5 mb-1">Master of Project Management <span class="text-muted h6">from the University of Sydney</span>
              </div>
              <div class="text-muted text-small mb-2">Jan, 2010 - Dec, 2010 (12 months)</div>
              <div>
              </div>
            </div>
          </div>
          <div class="timeline-card timeline-card-primary card shadow-sm">
            <div class="card-body">
              <div class="h5 mb-1">Developer <span class="text-muted h6">at Shanghai SEIO Software Co., Ltd</span>
              </div>
              <div class="text-muted text-small mb-2">Jan, 2008 - Dec, 2009 (1 year 11 months)</div>
            </div>
          </div>
          <div class="timeline-card timeline-card-primary card shadow-sm">
            <div class="card-body">
              <div class="h5 mb-1">Support Engineer <span class="text-muted h6">at Shanghai Wicresoft Co., Ltd</span>
              </div>
              <div class="text-muted text-small mb-2">Jul, 2005 - Jan, 2008 (2 years 6 months)</div>
            </div>
          </div>
          <div class="timeline-card timeline-card-success card shadow-sm">
            <div class="card-body">
              <div class="h5 mb-1">Bachelor of Engineering <span class="text-muted h6">from Shanghai Fisheries Univesrity</span>
              </div>
              <div class="text-muted text-small mb-2">Graduated 2005</div>
              <div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="page-break"></div>
      <hr class="d-print-none"/>
    </div>
  </div>
</div>
<footer class="pt-4 pb-4 text-muted text-center d-print-none">
  <div class="container">
    <div class="my-3">
      <div class="footer-nav">
        <nav role="navigation">
          <ul class="nav justify-content-center">
          </ul>
        </nav>
      </div>
    </div>
  </div>
</footer>
