<header class="d-print-none">
  <div class="container text-center text-lg-left">
    <div class="py-3 clearfix">
      <div class="site-nav">
        <nav role="navigation">
          <ul class="nav justify-content-center">
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
<div class="page-content">
  <div class="container">
    <div class="cover shadow-lg bg-white">
      <div class="cover-bg p-3 p-lg-4 text-white">
        <div class="row">
          <div class="col-lg-4 col-md-5">
            <div class="avatar hover-effect bg-white shadow-sm p-1">
              <img src="assets/images/avatar.jpg" width="200" height="200" />
            </div>
          </div>
          <div class="col-lg-8 col-md-7 text-center text-md-start">
            <h2 class="h1 mt-2">Jiejie (James) Chen</h2>
            <p>Team Lead, Solution Architect, Full Stack Software Developer</p>
            <div class="d-flex flex-column flex-lg-row">
              <div><a href="tel:+61430227759" class="btn btn-info text-light shadow-sm mt-1 me-1">0430 227 759</a></div>
              <div><a href="mailto:c2j_4u@hotmail.com"
                  class="btn btn-info text-light shadow-sm mt-1 me-1">c2j_4u@hotmail.com</a></div>
              <div class="d-print-none"><button class="btn btn-light text-dark shadow-sm mt-1 me-1"
                  (click)="exportAsPDF()">Download
                  CV</button></div>

            </div>
          </div>
        </div>
      </div>
      <div class="about-section pt-4 px-3 px-lg-4 mt-1">
        <div class="row">
          <div class="col">
            <h2 class="h3 mb-3">About Me</h2> 
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <p>Hello! I'm James Chen. I'm a lead full stack developer currently working at Standards Australia. I'm a
              leader of two high-performing SCRUM teams which I brought to maturity.
            </p>
            <p>I have 12+ years of .NET, Javascript and cloud development experience in every phase of SDLC, from top
              to bottom.</p>
            <p>
              I am highly experienced in building green-field, not-so-green-field and brown-field projects. I have a
              vision of the lifetime of a project from its birth to the years to come, with the balance of short-term
              goals and long-term sustainability.</p>
            <p>
              I'm a best-practice champion and influencer as well as a life-time learner, helped multiple junior and
              senior developes to grow in their professional skills.
            </p>

          </div>
          <div class="col-md-6">
            <div class="row">
              <p>
                I have worked for multiple organisations in industries including publishing, not-for-profit, medical,
                and car rental, sizing from start-up to medium. I have come up with a way in line with
                modern software development approach to deliver best IT solutions with least possible cost.
              </p>
              <p>
                I worked with various roles in organisations including CEO, Product Manager, Project Manager, Delivery
                Manager, Business Analyst, Quality Assurance engineer in a professional way to achieve a common goal.
              </p>

              <p>
                Happy for a call for any opportunities in the area of tech lead, solution architect, or principle
                developer.
              </p>
              <p>
                - James in Sydney, Australia
              </p>
            </div>
          </div>
        </div>
      </div>
      <hr class="d-print-none" />
      <div class="skills-section px-3 px-lg-4">
        <h2 class="h3 mb-3">Professional Skills and Proficiency</h2>
        <div class="row">
          <div class="col-md-12">
            <div class="mb-2"><span>.NET C# (9/10)</span>
              <div class="progress my-1">
                <div class="progress-bar bg-primary" role="progressbar" style="width: 90%" aria-valuenow="90"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="mb-2"><span>Angular (8/10)</span>
              <div class="progress my-1">
                <div class="progress-bar bg-primary" role="progressbar" style="width: 80%" aria-valuenow="80"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="mb-2"><span>Cloud (AWS & Azure) (8/10)</span>
              <div class="progress my-1">
                <div class="progress-bar bg-primary" role="progressbar" style="width: 80%" aria-valuenow="80"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
            <div class="mb-2"><span>DevOps (8/10)</span>
              <div class="progress my-1">
                <div class="progress-bar bg-primary" role="progressbar" style="width: 80%" aria-valuenow="80"
                  aria-valuemin="0" aria-valuemax="100"></div>
              </div>
            </div>
          </div>
          <div class="mb-2"><span>React (6/10)</span>
            <div class="progress my-1">
              <div class="progress-bar bg-primary" role="progressbar" style="width: 60%" aria-valuenow="60"
                aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
          <div class="mb-2"><span>Agile Methodology (SCRUM) (9/10)</span>
            <div class="progress my-1">
              <div class="progress-bar bg-primary" role="progressbar" style="width: 90%" aria-valuenow="90"
                aria-valuemin="0" aria-valuemax="100"></div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12">
            <h4 class="mt-3">Specific Skills</h4>
            <span class="badge rounded-pill bg-secondary">.NET</span>&nbsp;
            <span class="badge rounded-pill bg-secondary">Typescript</span>&nbsp;
            <span class="badge rounded-pill bg-secondary">Azure</span>&nbsp;
            <span class="badge rounded-pill bg-secondary">AWS</span>&nbsp;
            <span class="badge rounded-pill bg-secondary">OpenIDConnect</span>&nbsp;
            <span class="badge rounded-pill bg-secondary">Eway</span>&nbsp;
            <span class="badge rounded-pill bg-secondary">Stripe</span>&nbsp;
            <span class="badge rounded-pill bg-secondary">OpenAPI</span>&nbsp;
            <span class="badge rounded-pill bg-secondary">SignalR</span>&nbsp;
            <span class="badge rounded-pill bg-secondary">GraphQL</span>&nbsp;
            <span class="badge rounded-pill bg-secondary">Mulesoft</span>&nbsp;
            <span class="badge rounded-pill bg-secondary">Elasticesarch</span>&nbsp;
            <span class="badge rounded-pill bg-secondary">SQL Server</span>&nbsp;
            <span class="badge rounded-pill bg-secondary">MySQL</span>&nbsp;
            <span class="badge rounded-pill bg-secondary">Postgres</span>&nbsp;
            <span class="badge rounded-pill bg-secondary">TDD</span>&nbsp;
            <span class="badge rounded-pill bg-secondary">BDD</span>&nbsp;
            <span class="badge rounded-pill bg-secondary">DDD</span>&nbsp;
            <span class="badge rounded-pill bg-secondary">Serverless</span>&nbsp;
            <span class="badge rounded-pill bg-secondary">CQRS</span>&nbsp;
            <span class="badge rounded-pill bg-secondary">Docker</span>&nbsp;
            <span class="badge rounded-pill bg-secondary">Microservice</span>&nbsp;
            <span class="badge rounded-pill bg-secondary">SOA</span>&nbsp;
            <span class="badge rounded-pill bg-secondary">Terraform</span>&nbsp;
            <span class="badge rounded-pill bg-secondary">Azure DevOps</span>&nbsp;
            <span class="badge rounded-pill bg-secondary">Gitlab</span>&nbsp;
            <span class="badge rounded-pill bg-secondary">Sumologic</span>&nbsp;
            <span class="badge rounded-pill bg-secondary">SCRUM</span>&nbsp;
            <span class="badge rounded-pill bg-secondary">Gitflow</span>&nbsp;
            <span class="badge rounded-pill bg-secondary">Trunk-based</span>&nbsp;
            <span class="badge rounded-pill bg-secondary">SDLC</span>&nbsp;
            <span class="badge rounded-pill bg-secondary">WCAG</span>&nbsp;
            <span class="badge rounded-pill bg-secondary">Cyber Security</span>&nbsp;
          </div>
        </div>
      </div>
      <hr class="d-print-none" />
      <div class="page-break"></div>
      <div class="work-experience-section px-3 px-lg-4">
        <h2 class="h3 mb-2">Experience and Education</h2>
        <div class="timeline">
          <div class="timeline-card timeline-card-primary card shadow-sm">
            <div class="card-body">
              <div class="h5 mb-1">Lead Full Stack Developer <span class="text-muted h6">at Standards Australia</span>
              </div>
              <div class="text-muted text-small mb-2">Oct, 2021 - Present ({{currentEmploymentLength}})</div>
              <div>
                <h6>Responsibilities</h6>
                <ul>
                  <li>Lead, manage and coach a team of developers</li>
                  <li>Act as Technical Lead and Subject Matter Expert to ensure solutions delivered are in line with
                    business and technical requirements</li>
                  <li>Function as an application architect for solutions developed</li>
                  <li>Providing mentoring and leadership in development practices and principles</li>
                  <li>Work closely with other developers, UX designers, business and system analysts, and selected
                    vendors</li>
                  <li>Enforce the application of agile and prototype based SDLC for systems development</li>
                </ul>
              </div>
              <div>
                <h6>Achievements</h6>
                <ul>
                  <li>Built two high-performing SCRUM teams, established successful SCRUM practices within the
                    organisation.</li>
                  <li>Brought disaster recovery architecture of a project to live</li>
                  <li>Designed and implemented recurring payment function</li>
                  <li>Fixed foundational design issue in payments built by vendor</li>
                  <li>Established structured logging and distributed tracing</li>
                  <li>Improved release procedure and implemented business-hour deployment with zero-downtime
                    architecture</li>
                  <li>Hosted developer forum and developed organisational coding standard</li>
                  <li>Procured analytic tool for real-time customer behaviour analysis</li>
                  <li>Oversaw application security enhancement over 10+ projects across the organisation</li>
                  <li>Hired 4 senior full stack developers from 66 candidates over 12 months</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="timeline-card timeline-card-primary card shadow-sm">
            <div class="card-body">
              <div class="h5 mb-1">Senior Software Engineer <span class="text-muted h6">at Everlight Radiology</span>
              </div>
              <div class="text-muted text-small mb-2">Mar, 2020 - Oct, 2021 (1 year 7 months)</div>
              <div>
                <ul>
                  <li>Delivered 4 major projects into production in 18 months</li>
                  <li>Contributed ~40% of source code</li>
                  <li>Built 2 front-end applications</li>
                  <li>Designed and implemented an event-driven architecture</li>
                  <li>Built 4 micro-service applications and their AWS infrastructure</li>
                  <li>Established now repeating code patterns</li>
                  <li>Built the foundation of unit tests</li>
                  <li>Upgraded CICD pipelines</li>
                  <li>Achieved daily deployments to production</li>
                  <li>Established a new application monitoring workflow</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="timeline-card timeline-card-primary card shadow-sm">
            <div class="card-body">
              <div class="h5 mb-1">Senior Software Engineer <span class="text-muted h6">at PropertyMe Pty Ltd</span>
              </div>
              <div class="text-muted text-small mb-2">Jul, 2019 - Mar, 2020 (8 months)</div>
              <div>In this role, as a member of 4 platform team members, I'm responsible for providing platform
                scalability, reliability, security, and devOps works. The job involves:
                <ul>
                  <li>Identifying system bottleneck and providing solutions</li>
                  <li>Keeping the system technology up-to-date</li>
                  <li>Performing deployments</li>
                  <li>Monitoring system performance and analysing system log</li>
                </ul>
              </div>
              <div class="my-4"></div>
              <div class="h5 mb-1">Full Stack .Net Developer
              </div>
              <div class="text-muted text-small mb-2">Aug, 2016 - Jul, 2019 (2 years 11 months)</div>
              <div>
                <ul>
                  <li>Develops new features and maintains the PropertyMe web applications;</li>
                  <li>Utilises AWS features whilst minimising AWS costs;</li>
                  <li>Optimises the PropertyMe application including database operations and back end services for
                    speed, scalability and reliability;</li>
                  <li>Contributes to workshops for design of new features and system architectural changes;</li>
                  <li>Actively participates in Agile Scrum ceremonies and Mentors more junior team members and cross;
                  </li>
                  <li>Contributes to and participates in code reviews;</li>
                  <li>Keeps on top of best security practices and incorporates them into day to day work;</li>
                  <li>Estimate time to complete tasks within a reasonable accuracy;</li>
                  <li>Identifies and remedies any issues with browser compatibility.</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="timeline-card timeline-card-primary card shadow-sm">
            <div class="card-body">
              <div class="h5 mb-1">Developer <span class="text-muted h6">at GiveEasy Pty Ltd</span>
              </div>
              <div class="text-muted text-small mb-2">Apr, 2012 - Jun, 2016 (4 years 2 months)</div>
              <div>
                <ul>
                  <li>Design and build whole infrastructure to cater the growth of the business from start up</li>
                  <li>Implement the core payment system</li>
                  <li>Manage availability and security of the websites and online services</li>
                  <li>Establish agile methodology in the development life cycle.</li>
                  <li>Integrate more than one payment gateways</li>
                </ul>
              </div>
            </div>
          </div>
          <div class="timeline-card timeline-card-primary card shadow-sm">
            <div class="card-body">
              <div class="h5 mb-1">IT Developer <span class="text-muted h6">at DriveMyCar Rentals Pty Ltd</span>
              </div>
              <div class="text-muted text-small mb-2">Jan, 2011 - Mar, 2012 (1 year 2 months)</div>
            </div>
          </div>
          <div class="timeline-card timeline-card-primary card shadow-sm">
            <div class="card-body">
              <div class="h5 mb-1">IT Engineer <span class="text-muted h6">at Shutters R Us Pty Ltd</span>
              </div>
              <div class="text-muted text-small mb-2">Sep, 2010 - Dec, 2010 (3 months)</div>
            </div>
          </div>
          <div class="timeline-card timeline-card-success card shadow-sm">
            <div class="card-body">
              <div class="h5 mb-1">Master of Project Management <span class="text-muted h6">from the University of
                  Sydney</span>
              </div>
              <div class="text-muted text-small mb-2">Jan, 2010 - Dec, 2010 (12 months)</div>
              <div>
              </div>
            </div>
          </div>
          <div class="timeline-card timeline-card-primary card shadow-sm">
            <div class="card-body">
              <div class="h5 mb-1">Developer <span class="text-muted h6">at Shanghai SEIO Software Co., Ltd</span>
              </div>
              <div class="text-muted text-small mb-2">Jan, 2008 - Dec, 2009 (1 year 11 months)</div>
            </div>
          </div>
          <div class="timeline-card timeline-card-primary card shadow-sm">
            <div class="card-body">
              <div class="h5 mb-1">Support Engineer <span class="text-muted h6">at Shanghai Wicresoft Co., Ltd</span>
              </div>
              <div class="text-muted text-small mb-2">Jul, 2005 - Jan, 2008 (2 years 6 months)</div>
            </div>
          </div>
          <div class="timeline-card timeline-card-success card shadow-sm">
            <div class="card-body">
              <div class="h5 mb-1">Bachelor of Engineering <span class="text-muted h6">from Shanghai Fisheries
                  University</span>
              </div>
              <div class="text-muted text-small mb-2">Graduated 2005</div>
              <div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr class="d-print-none" />
      <div class="interest-hobby-section px-3 px-lg-4">
        <h2 class="h3 mb-2">Interest and Hobby</h2>
        <div class="row">
          <div class="col-md-12">
            <p>Flying</p>
          </div>
        </div>
      </div>
      <hr class="d-print-none" />
      <div class="reference-section px-3 px-lg-4 pb-2">
        <h2 class="h3 mb-2">Reference</h2>
        <div class="row">
          <div class="col-md-12">
            <p>Available upon request</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<footer class="pt-4 pb-4 text-muted text-center d-print-none">
  <div class="container">
    <div class="my-3">
      <div class="footer-nav">
        <nav role="navigation">
          <ul class="nav justify-content-center">
            <li><a href="https://www.jiejiechen.com/">www.jiejiechen.com</a>&nbsp;&copy; 2023</li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</footer>